@import "partials/variables";
@import "partials/mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    .container {
        margin: 10px;
        padding: 10px;
        background-color: $container-bg-color;
        height: 100vh;
        @include gridValue(110px, 6, 15px);
    }
    .box {
        background-color: $box-bg-color;
        color: $box-color;
        font-size: 4rem;
        font-weight: bold;
        @include flexValue();
    }
    .one{
        @include gridDesign(0,auto , span 2, auto,auto ,auto);
    }
    .sixteen{
        @include gridDesign(110px,auto , span 3, auto,auto ,center);
    }
    .twenty-one{
        @include gridDesign(110px,auto , span 2, auto,auto ,left);
    }
    .twenty{
        @include gridDesign(110px,auto , span 7, auto,auto ,left);
    }
    .seven{
        // @include gridDesign(0,9 , 10, 2,4 ,auto);
        @include gridDesign(0,auto , auto, auto,span 2 ,auto);
    }
    .six{
        @include gridDesign(110px,auto , span 2, auto,auto ,right);
    }
    .twenty-two{
        @include gridDesign(110px,auto , span 6, auto,auto ,left);
    }
    .nine{
        width: 50%;
    }
    .twenty-four{
        @include gridDesign(0,auto , auto, auto,span 2  ,auto);
    }
    .four{
        @include gridDesign(110px,auto , span 7, auto,auto ,left);
    }
    .nineteen{
        @include gridDesign(110px,auto , span 4, auto,auto ,right);
    }
    .three{
        @include gridDesign(0,auto , span 2, auto,auto ,right);
        width: 30%;
    }
    .eighteen{
        @include gridDesign(110px,auto , -1, auto,auto ,right);
    }
    .seventeen{
        @include gridDesign(110px,auto , span 2, auto,auto ,right);
    }
    .five-one{
        @include gridDesign(0,auto , span 2, auto,auto ,auto);
    }
    .five-two{
        @include gridDesign(110px,auto , -1, auto,auto ,right);
    }
}
